/* modifiche generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* regole header */
header{
    background-image: url(../img/wall.png);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

/* regole main */
main{
    background-image: url(../img/cork.png);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: Edu Tas Beginner, sans-serif;;
}

/* contenitore del contenuto */
.contenitore{
    width: 70%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    /* dbug */
    /* background-color: aqua; */

}

/* modifiche per ogni card singola */
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-bottom: 30px;
    background-color: white;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.2) rotate(15deg) ;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.card:hover .pin{
    display: none;
}

/* modifiche per il contenuto delle card */
.card-content{
    width: 90%;
    height: 90%;

    /* dbag */
    /* background-color: aqua; */
}

.data{
    color: gray;
    font-size: 17px;
    font-family: Sometype Mono, monospace;
}
h2{

}

.pin{
    position: absolute;
    top: -10px;
}

/* parte finale del ingadimento del imagine al click */
.container-foto-max{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
    /* classe con display none */
    .none{
        display: none;
    }

/* modifiche imagine pop-up */
.img-position{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.img-position img{
    width: 70%;
}
.img-position button{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* modifiche delle immagini */
.card-content img{
    width: 100%;
    height: 90%;
    padding-bottom: 15px;
}


/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/
 /* versione compitor piu piccola */
 @media screen and (max-width:1000px) {
    .contenitore{
        width: 85%;
    }
 }
 /* versione tablet */
 @media screen and (max-width:800px) {
    .contenitore{
        justify-content: space-around;
    }
    .card{
        width: 45%;
    }
 }

 /* versione mobile */
 @media screen and (max-width:550px) {
    header{
        font-size: 30px;
    }
    .contenitore{
        width: 70%;
    }
    .card{
        width: 90%;
    }
 }